<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cute Cat</title>
    <link rel="stylesheet" href="css/mainPage.css">
</head>
<body>
    <div class="cat">
        <div class="ear ear-left"></div>
        <div class="ear ear-right"></div>
        <div class="face">
            <div class="eye eye-left">
                <div class="pupil"></div>
            </div>
            <div class="eye eye-right">
                <div class="pupil"></div>
            </div>
            <div class="nose"></div>
            <div class="mouth"></div>
            <div class="whiskers whiskers-left"></div>
            <div class="whiskers whiskers-right"></div>
        </div>
    </div>
</body>
</html>
